<div>
  Tags: 
  <% Image.tag_counts.each do |tag| %>
    <%= link_to(tag.name, images_path(tag: tag.name)) %>
  <% end %>
</div>
<div>
  <% @images.each do |image| %>
    <%= link_to(image) do %>
      <%= image_tag(image.url, class: 'image-preview') %>
    <% end %>
    <br>
  <% end %>
</div>
